* {
  margin: 0;
  padding: 0;
}


body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,0.865983893557423) 35%, rgba(10,10,10,1) 100%);
}


#banner {
  width: 100%;
}


h1 {
  font-size: 50px;
  color: rgb(245, 0, 0);
  text-align: center;
  text-transform: uppercase;
}


.textos {
  width: 80%;
  align-content: center;
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: blue;
}
